<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="banniere-container">
      <img src="/img/pexels-postiglioni-943510.jpg" class="banniere" alt="Paysage Maroc" />
      <nav>
        <div>Les couleurs du Maroc</div>
        <div>
          <a href="/user/register">Inscription</a>
          <a href="/user/login">Connexion</a>
        </div>
      </nav>
      <h1>Bienvenue sur notre Blog</h1>
      <button>Inscrivez vous</button>
      <p>Venez partager vos experiences avec nous</p>
    </div>
    <div class="container">
      <h2>Nos dernieres visites</h2>
      <section class="card-pos">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </section>
      <h2>Nos dernieres recettes</h2>
      <section class="card-pos">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </section>
      <h2>Vos moments</h2>
      <section class="card-pos">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </section>
    </div>
    <footer>&copy; 2024 Blog Maroc. Tous droits réservés.</footer>
  </body>
</html>
